# Kernel

Comenzamos cargando las librerías necesarias

In [0]:
import numpy as np
import pandas as pd
from sklearn.neural_network import MLPClassifier

Cargamos el dataset de entrenamiento.

In [91]:
!wget https://poseidus.midomotica.com/IA/dataset/train.csv
!wget https://poseidus.midomotica.com/IA/dataset/test.csv

--2019-04-14 22:32:09--  https://poseidus.midomotica.com/IA/dataset/train.csv
Resolving poseidus.midomotica.com (poseidus.midomotica.com)... 104.24.105.184, 104.24.104.184
Connecting to poseidus.midomotica.com (poseidus.midomotica.com)|104.24.105.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 19171 (19K) [application/octet-stream]
Saving to: ‘train.csv.14’

train.csv.14        100%[===================>]  18.72K  --.-KB/s    in 0s

2019-04-14 22:32:09 (76.4 MB/s) - ‘train.csv.14’ saved [19171/19171]

--2019-04-14 22:32:11--  https://poseidus.midomotica.com/IA/dataset/test.csv
Resolving poseidus.midomotica.com (poseidus.midomotica.com)... 104.24.105.184, 104.24.104.184
Connecting to poseidus.midomotica.com (poseidus.midomotica.com)|104.24.105.184|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 5679 (5.5K) [application/octet-stream]
Saving to: ‘test.csv.6’

test.csv.6          100%[===================>]   5.55K  --.-KB/s    in 0s

2019-04-14 22:32:11 (57.4 MB/s) - ‘test.csv.6’ saved [5679/5679]

In [0]:
traindf = pd.read_csv("train.csv")

Vamos a convertir la columna genero y predicción a números. Además eliminaremos varias columnas que están intercorreladas.

In [0]:
traindf['Gender'] = traindf['Gender'].map({'Male': 0, 'Female': 1})

In [0]:
traindf.drop(['Albumin'], axis=1, inplace=True) 
traindf.drop(['Direct_Bilirubin'], axis=1, inplace=True) 
traindf.drop(['Alamine_Aminotransferase'], axis=1, inplace=True)

Transformamos los datos para que puedan ser procesados por los algoritmos de predicción.

In [0]:
traindata = traindf.values

Separamos descriptores de clases.

In [0]:
descriptores,clases = traindata[:,0:-1],traindata[:,-1]

Convertimos las clases a un formato adecuado.

In [0]:
clases = [1 if clase==True else 0 for clase in clases]

Construímos el clasificador.

In [0]:
modelRN = MLPClassifier(momentum= 0.99, 
                        learning_rate_init= 0.1, 
                        hidden_layer_sizes=(3, 3, 3), 
                        activation= 'identity')

Lo entrenamos.

In [99]:
modelRN.fit(descriptores, clases)

MLPClassifier(activation='identity', alpha=0.0001, batch_size='auto',
       beta_1=0.9, beta_2=0.999, early_stopping=False, epsilon=1e-08,
       hidden_layer_sizes=(3, 3, 3), learning_rate='constant',
       learning_rate_init=0.1, max_iter=200, momentum=0.99,
       n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
       random_state=None, shuffle=True, solver='adam', tol=0.0001,
       validation_fraction=0.1, verbose=False, warm_start=False)

Cargamos y procesamos el conjunto de test.

In [0]:
testdf = pd.read_csv("test.csv")

Realizamos las predicciones.

In [0]:
testdf['Gender'] = testdf['Gender'].map({'Male': 0, 'Female': 1})

In [0]:
testdf.drop(['Albumin'], axis=1, inplace=True) 
testdf.drop(['Direct_Bilirubin'], axis=1, inplace=True) 
testdf.drop(['Alamine_Aminotransferase'], axis=1, inplace=True)

In [0]:
testdata = testdf.values

In [104]:
testdata

array([[ 36.  ,   0.  ,   0.8 , ...,  39.  ,   6.  ,   0.5 ],
       [ 55.  ,   0.  ,  14.1 , ...,  63.  ,   5.  ,   0.47],
       [ 61.  ,   0.  ,   0.8 , ...,  35.  ,   6.9 ,   0.9 ],
       ...,
       [ 60.  ,   0.  ,   5.2 , ..., 202.  ,   6.8 ,   0.7 ],
       [ 72.  ,   0.  ,   0.8 , ...,  35.  ,   6.  ,   1.  ],
       [ 27.  ,   0.  ,   1.  , ..., 145.  ,   6.  ,   1.  ]])

In [0]:
predicciones = modelRN.predict(testdata)

Convertimos las predicciones al formato adecuado.

In [0]:
predicciones = [True if prediccion==1 else False for prediccion in predicciones]

Construímos un dataframe con los resultados y un índice.

In [0]:
soldf = pd.DataFrame(list(enumerate(predicciones)))

Añadímos la cabecera adecuada.

In [0]:
soldf.columns = ['Id','Prediction']

Mostramos el dataframe.

In [109]:
soldf

      Id  Prediction
0      0       False
1      1       False
2      2       False
3      3       False
4      4       False
5      5       False
6      6       False
7      7       False
8      8        True
9      9       False
10    10       False
11    11       False
12    12        True
13    13       False
14    14       False
15    15       False
16    16       False
17    17       False
18    18       False
19    19       False
20    20        True
21    21       False
22    22       False
23    23       False
24    24       False
25    25       False
26    26       False
27    27       False
28    28       False
29    29       False
..   ...         ...
116  116       False
117  117       False
118  118       False
119  119       False
120  120       False
121  121       False
122  122       False
123  123       False
124  124       False
125  125       False
126  126       False
127  127       False
128  128       False
129  129       False
130  130       False
131  131       False
132  132        True
133  133        True
134  134       False
135  135       False
136  136        True
137  137       False
138  138       False
139  139       False
140  140       False
141  141       False
142  142       False
143  143       False
144  144       False
145  145       False

[146 rows x 2 columns]

Finalmente guardamos el dataframe en un fichero csv con el formato adecuado.

In [0]:
soldf.to_csv("submission.csv",sep=',',index=False)

In [0]:
from google.colab import files
files.download("submission.csv")